apiVersion: apps/v1
kind: Deployment
metadata:
  name: broz-frontend
  namespace: broz-frontend
  labels:
    app: broz-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: broz-frontend
  template:
    metadata:
      labels:
        app: broz-frontend
    spec:
      containers:
        - name: broz-frontend
          image: registry.brozr.com/broz-frontend:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 50m
              memory: 64Mi
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: broz-frontend
  namespace: broz-frontend
spec:
  selector:
    app: broz-frontend
  ports:
    - port: 80
      targetPort: 80
